outdir/
outdir_cyclegan/
outdir_expr/
outdir_expr3/
outdir_expr4/
outdir_expr5/
outdir_expr5-2/
outdir_expr5-3/
outdir_expr5-4/
outdir_expr6/
outdir_expr7/
outdir_expr8/
outdir_expr9/
outdir_expr10/
outdir_expr11/
data/
__pycache__
*.egg-info/
*.swp
